@charset "utf-8";
/* CSS Document 
 * author: @CleiverFossi
 * Version: 2
 * Modificado por :
 */

 #imagenInicio {
	padding: 10px; float: left; width: 25%; text-align: justify;
   }
   #textoInicio {
	padding: 10px; float: right; width: 70%; text-align: justify;
	 
   }
body{
	font-size:16px;
	padding:0px;
	margin:0 auto;
	overflow:auto;
}
h1,h2,h4{ 
	color:#c31111; 
	margin:0;
}
h3{
	color: white;
	background-color: rgba(0, 0, 0, 0.404);
}
p{
	margin:0;
	text-align:justify;
}
a:hover{
	color:#c31111;
}
table{
	overflow:hidden;
	border-collapse:collapse; 
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css3 */
} 
table td{
	height: 120px;
}
table th{
	text-align:center;
	padding:10px 10px;
	height:20px;
}


form .radio,form .checkbox{
	line-height:20px;
	margin-bottom:0px;
	font-size:12px;
	padding:4px 2px;
	display:block;
	float:left;
	font-size:12px;
	height:15px;
	width:200px;
}

#banner{
	padding-top: 20px;
	padding-bottom: 20px;
	color: black;
	text-align: center;
	font-size: 50px;
	background-image:url();
	background-position:bottom center;
	width:auto;
	overflow:hidden;
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css3 */

}
#banner .titulo{
	margin:15px 0;
	color:#c31111;
	text-align:right;
	margin-right:200px;
	font-size:23px;
	font-weight:bold;
}
#banner .subtitulo{
	color:#c31111;
	text-align:right;
	margin-right:200px;
	font-size:18px;
	font-weight:normal;
}

#contenido{
	margin:0 auto;
	width:96%;
	padding:15px;
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css3 */
}
#pie{
	position: relative;
	bottom: 0;
	width: 100%;
	color:#FFF;
	background-color:#c00;
	margin:0 auto;
	margin-top:10px;
	padding:20px 0;
	text-align:center;
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css3 */
}
#pie a{
	color:#FFF;
	text-decoration:none;
}
.center{
	margin:0 auto;
}
.clear{
	width:1px;
	clear:both;
}
#menu{
	margin:4px auto;
	width:100%;
	height:40px;
	text-align:center;
}
#menu a{
	color:#FFF;
	border:1px solid #c00;
	background-color:#c00;
	text-decoration:none;
	display:inline-block;
	height:38px;
	padding:0 20px;
	line-height:40px;
	margin:0 5px;
}
#menu a:hover{
	background-color:#e08282;
	background: -moz-linear-gradient(top, #c00, white); /* css3 */
}

/*----------------------------------*/

#menu ul{
	height:100%;
	margin:0 auto;
	padding:0;
}
#menu ul li{
	margin:0px;
	list-style-type:none;
	float:left;
}
#menu ul li:hover ul{
	display:block;
}
#menu ul li ul{
	position: absolute;
	display: none;
}
#menu ul li ul a{
	height:20px;
	line-height:20px;
	font-size:12px;
	padding:0 10px;
	margin:0;
}

#menu ul li ul li{
	float:none;
	margin-left:10px;
}




   
   #listaMenu{
	   list-style-type: none;
	   overflow: hidden;
	   background-color: #c00;

   }
   
   li a{
	   font-family: "Tw Cen MT";
	   font-size: 20px;
	   float: right;
	   display: flow-root;
	   color: white;
	   text-align: center;
   }
   li a:hover {
    background-color: rgb(248, 83, 83);
}
  
   
  /* h1{
	   font-size: 50px;
	   text-align: center;
	   color: black;
	   font-family: Courier;
	   border: 2px solid gray;
	   padding: 15px;
	   margin-left: auto;
	   margin-right: auto;
   }*/
	
   
   
   
   
   #datosP{
	   font-size: 20px;
	   font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	   text-align: center;
   }
   .perfil{
	   font-size: 17px;
	   font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	   text-align: justify;
   }
   
   #textoConocimientos {
	   float: center;
	   padding: 20px;
	   padding-left: 100px;
	   padding-right: 100px;
	   height: 100%; /* only for demonstration, should be removed */
   }
   
   dt{
	   font-size: 18px;
	   color: black;
	   text-align: left;
	   padding: 20px;
	   padding-bottom: 0px;
	   padding-top: 40px;
	   
   }
   #listaConocimientos{
	   font-size: 17px;
	   font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
   }
   .lista1 img{
	   padding-left: 25px;
	   padding-right: 25px;
   }
   
   .lista2{
	   font-size: 15px;
	   color: black;
	   text-align: left;
	   padding: 20px;
	   
   }
   
   #contacto{
	   font-size: 18px;
	   font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
   }
   
   input{
	   font-size: 14px;
	   height: 35px;
	   width: 300px; 
	   padding-left: 10px;
	   padding-bottom: 10px;  
   } 
   
   .contactos{
	   padding-top: 10px;
	   display: flex;
	   justify-content: space-around;
	   
   }
   
   .contact{
	   padding: 10px;
	   margin: 10px;
   }
   
   #fecha{
	   width: 300px;
	   color: gray;
   }
   
   .boton{
	   display: flex;
	   justify-content: space-around;
	  
	   
   }
   .boton input{
	   width: 200px;
   }
   #comment{
	   font-size: 14px;
	   width: 300px;
	   height: 50px;
	   padding-left: 10px;
   }


   .links a:hover{
	   text-decoration: underline;
   }
   .tabla1{
	   font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	   font-size: 14px;
   }
   .celda{
	   text-align: center;
   }
   .glosa a{
	   font-family: "Tw Cen MT";
	   font-size: 18px;
	   color: black;
	   text-align: center;
	   padding: 20px;
   }
   .glosa a:link{
		color:#c00;
		text-decoration-line: underline;
   }
   .glosa{
	   text-align: center;
   }
   
   .carousel, .carousel-inner > .item > img {
	   position: relative;
	   margin: auto;
  }